<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DoBussiness"  value="0"/>
		<add key="callmode"  value="1"/>
		<add key="url"  value="http://192.168.3.46:9109/service.asmx"/>
		<add key="parameters" value="1|1|1^xmlStr|user_id|signature"/>
		<add key="use_encryption" value="1"/>
		<add key="MethodName" value="1"/>
		<add key="Linux"  value="0"/>
		<add key="F2FPAY"  value="http://fbo.ztejsapp.cn:9001/AliPay/WebServiceF2F.asmx?wsdl"/>
	</appSettings>
</configuration>