<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DoBussiness"  value="0"/>
		<add key="callmode"  value="1"/>
		<add key="url"  value="http://221.226.123.150:8018/Service.asmx"/>
		<add key="parameters" value="1|1|1^xmlstr|user_id|signature"/>
		<add key="use_encryption" value="1"/>
		<add key="MethodName" value="BusinessYYJK_SECRET"/>
	</appSettings>
</configuration>