<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="ProcessBusGetSQL"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--   是否通过HttpSpringAPI进行内部函数操作(前置在外地的BusServer不能通过数据库直接访问；使用API调用的启动时不允许下载全部DLL)；
    为true时需要配置服务地址 HttpServerURL;否则需要配置数据库连接ConnectionStringMySpringMySQL-->
    <add key="UseHttpSpringAPI" value="false" />
    <!-- HTTP服务地址 测试网为http://fbo.ztejsapp.cn   那啥 是 http://yun.ztejsapp.cn-->
    <add key="HttpServerURL" value="https://fbo.ztejsapp.cn/Test/Test" />
    <!-- PaaS作为在子机构的客户端连接中心机构-->
    <add key="SLBisHosClient" value="False" />
   
    <!-- BusServerID 需要预先在系统里配置 -->
    <add key="BusServerID" value="PaaS968" />
    <!-- SLBID -->
    <add key="SLBID" value="PaaS968" />
    <!-- LoadLocalBusinessInfoConfigInfo 是否加载本地lBusinessInfo配置文件 -->
    <add key="LoadLocalBusinessInfoConfigInfo" value="true" />
    <!--用户授权页面Redis数据库 -->
    <add key="RedisAuth.IP" value="172.18.0.220" />
    <add key="RedisAuth.Port" value="6379" />
    <add key="RedisAuth.Password" value="QH_redis1" />
    <!-- SLB配置数据库 -->
    <add key="RedisSLB.IP" value="172.18.0.220" />
    <add key="RedisSLB.Port" value="6379" />
    <add key="RedisSLB.Password" value="QH_redis1" />

    <!-- Redis数据库集群哨兵配置 --><!--
    <add key="RedisSentinelsAddress" value="192.168.3.113:26379|192.168.3.112:26379|192.168.3.111:26379" />
    --><!--<add key="RedisSentinelsAddress" value="192.168.8.113:26379|192.168.8.112:26379|192.168.8.111:26379" />--><!--
    <add key="RedisSentinelsMaster" value="mymaster"/>
    <add key="RedisPasswordS" value="neso"/>-->
    <!--<add key="RedisPasswordS" value="p8z77-v"/>-->

    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="true" />
    <add key="ConnectionStringMySpringMySQL" value="Host=172.18.0.220;port=3306;UserName=root;Password='AC8A347073110006';Database=myspringpaas;character set=utf8;pooling=true;ssl-mode=none"/>
    <add key="ConnectionStringPlatZZJ"  value="Host=172.18.0.220;port=3306;UserName=root;Password=AC8A347073110006;Database=platzzj;character set=utf8;pooling=true;ssl-mode=none"/>
<add key="ConnectionStringLogMySQL" value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=buslog;character set=utf8;port=3306;ssl-mode=none"/>
    <add key="ConnectionStringMySpringlogMySQL" value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=myspringlog;character set=utf8;pooling=true;port=3306;ssl-mode=none"/>

    <!-- MYSQL连接地址 此处是为测试对应函数用的，BusinessFactory自身不需要 --><!-- 
    <add key="ConnectionString"  value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=platform;character set=utf8;port=3306;ssl-mode=none"/>
    
    <add key="ConnectionStringPlatZZJ" value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=platzzj;character set=utf8;port=3306;ssl-mode=none"/>
	
	
	<add key="YunHosUnionPayUrl" value="https://www.jshcpay.cn/regionalpay"/>-->
	
	    <!-- 支付宝支付地址 -->
    <add key="AliPay.PAY_URL" value="https://openapi.alipay.com/gateway.do" />
    <add key="AliPay.Notify_url" value="https://fbof.ztejsapp.cn/SLB/Notify/AliPay" />



    <!-- ##########################WxPay交易发送地址配置#############################-->
    <!-- 收款服务器异步通知页面地址 必须外网能访问-->
    <!-- 微信支付地址 -->
    <add key="WxPay.PAY_URL" value="https://api.mch.weixin.qq.com/" />
    <add key="WxPay.Notify_url" value="https://fbof.ztejsapp.cn/SLB/Notify/WxPay" />
    <!--商户系统后台机器IP-->
    <add key="WxPay.IP" value="58.216.151.158" />
	
    <!-- RabbitMQ配置 -->
    <add key="RabbitMQ.HostName" value="192.168.3.172" />
    <add key="RabbitMQ.UserName" value="admin" />
    <add key="RabbitMQ.Password" value="45A75791F13A522B" />
    <add key="PaaSEnableMQ" value="true" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
